<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="10 Different Front-End Designs">
    <title>MakeTree | Testing Cool Designs</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

    <!-- .design-box will hold all the 10 different designs -->
    <section class="design-box">

        <div class="design-first">
            <div class="top-first">

            </div>
            <div class="mid-first">

            </div>
            <div class="bot-first">

            </div>
        </div>
        
        <div class="design-second"></div>
        
        <div class="design-third"></div>
        
        <div class="design-fourth"></div>
        
        <div class="design-fifth"></div>
        
        <div class="design-sixth"></div>
        
        <div class="design-seventh"></div>
        
        <div class="design-eigth"></div>
        
        <div class="design-ninth"></div>
        
        <div class="design-tenth"></div>

    </section>

    <script src="/static/js/app.js"></script>
</body>
</html>